.container_top{
  display: grid;  
  grid-gap: 35px;  
  width: 100% !important;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(1, 400px);
  padding-bottom: 100px;
}
